# Kitty Configuration File

# Font settings
font_family Fira Code
font_size 11.0

# Colors

background #222222 
background_opacity 0.8


# Bright colors
color0  #545454
color1  #fc5454
color2  #8ae234
color3  #fce94f
color4  #94bff3
color5  #b294bb
color6  #93e0e3
color7  #ffffff
color8  #3f3f3f
color9  #cc0000
color10 #4e9a06
color11 #c4a000
color12 #94bff3
color13 #85678f
color14 #06989a
color15 #dcdccc

# Window settings

# Key bindings
map F11 toggle_fullscreen

# Scrolling history
scrollback_lines 50000
